h1 {
    color : blue;
    font-size :15 px;
}
#judul{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color:aqua;
    font-size :25 px;
    

}
p{
    color : green;
    font-size : 15px;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}

button{
    width: 90px;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: blueviolet;
    color:chartreuse;
}
.material{
    color:cyan;
}